# Api Port
PORT=8080

# TLS (Https)
# SSL_CERT_PATH=cert.crt
# SSL_KEY_PATH=cert.key

# Generate Random Secret:
# python -c "import secrets; print(secrets.token_hex(32))"
JWT_SECRET=

# Cors
# set your Web UI Url for better protection (https://localhost)
CORS_URL=*

# Postgres DB Connection
DB_HOST=127.0.0.1
DB_PORT=5432
DB_USER=user
DB_PASSWORD=password
DB_NAME=db-name

